.equipe {
  display: grid;

  &_title {
    text-align: left;

    &:nth-of-type(2) {
      span {
        &.intersecting {
          animation-delay: .4s;
        }
      }
    }

    &:nth-of-type(3) {
      span {
        &.intersecting {
          animation-delay: .8s;
        }
      }
    }
  }

  &_portrait {
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    row-gap: 20px;
    overflow: hidden;

    &_container {
      position: relative;
      overflow: hidden;
    }

    &_wrapper {
      transition: all 1s ease-in-out;

      &.even {
        transform: translateX(100%);
      }

      &.odd {
        transform: translateX(-100%);
      }

      &.intersecting {
        transform: translateX(0%);
      }
    }

    &_presentation {
      position: absolute;
      bottom: 20px;
      left: 20px;
      right: 20px;

      display: flex;
      flex-direction: column;
      row-gap: 5px;
    }
  }
}

@include minwidth(md) {
  .equipe {
    &_portrait {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 20px;

      &_wrapper {
        &.even {
          transform: translateX(-100%);
        }

        &.odd {
          transform: translateX(100%);
        }

        &.intersecting {
          transform: translateX(0%);
        }
      }
    }
  }
}

@include minwidth(lg) {
  .equipe {
    display: flex;
    column-gap: 40px;

    &_portrait {
      margin-top: 0;
      width: 100%;

      &_wrapper {
        &.even {
          transform: translateX(100%);
        }

        &.odd {
          transform: translateX(100%);
        }

        &.intersecting {
          transform: translateX(0%);
        }
      }
    }
  }
}